<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423847166550-jf8gb1o8cbojo5ccladh3e8eqv32vhnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423847166550-jf8gb1o8cbojo5ccladh3e8eqv32vhnf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>423847166550-06umbqp3nen07e50a88nhis2hiqhk1io.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0VpWnObFi5_vD3qDb5DCOW-HL1mfoRss</string>
	<key>GCM_SENDER_ID</key>
	<string>423847166550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lumpsumify.landandplot</string>
	<key>PROJECT_ID</key>
	<string>landandplot-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>landandplot-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423847166550:ios:4647dfcb2fbf23fd9531f7</string>
</dict>
</plist>