rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /properties/{propertyId} {
      // Allow anyone to read and write to the 'properties' collection
      allow read, write: if true;
    }
  }
}