rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // allow every read and write on every document
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
